#myCarousel
{
    background-color: firebrick;
     margin-top: 50px;
}

#myCarousel img
{
    height: 400px;
   
    width: 400px;
}
.carousel-inner p
{
    margin-bottom: 15px;
    margin-top: 15px;
    color : white;
    font-size: 25px;
}
.container
{
    text-align: center;
}

.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i
{
float: right;
}

.movie_text span
{
color: #ff7700;
}

.environment_li
{
  margin-top: 13px;
}

.environment_li h4
{
    border-bottom: 1px solid white;
    padding: 8px;
}

.environment_li img
{
  border-radius: 25px;
}

.environment_li p
{
vertical-align: middle;
    margin-top: 100px;
   font-family: 'Cinzel Decorative', cursive;
    color: crimson;
    font-weight: 500;
    font-size: 20px;
}
.environment{
    margin-bottom: 100px;
   
}

.header_entrepreneur
{
  line-height: 2;
}

.book
{
  cursor: pointer;
}

.book hr
{
  margin-bottom: 10px;
}

.modal-content
{
  margin-top: 100px;
}

.img_modal
  {
    display: inline-block;
  }
.p_modal
  {
      margin-top: 10px;
}
.modal-body
{
    text-align: center;
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
   
}
.contact_1 a
{
    text-shadow: none;
}
#about{
    margin-bottom: 30px;
}
#contact{
    margin-top: 30px;
   
}
#me{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: firebrick;
    font-weight: 400;
}
#disha{
   font-size: 40px;
    color: crimson;  
     text-shadow: 3px 3px lightpink;
}
#disha:hover{
    font-size: 50px;
    text-decoration: underline;
}
#welcome{
    font-family: 'Dancing Script', cursive; 
     font-size: 50px;
    color: firebrick;
    font-weight: 600;
}
.img_disha:hover{
     transform: scale(1.5);
}

.img_disha {
transition: transform 1s;
    width: 300px;
}
html {
    scroll-behavior: smooth;
}

